.container {
  width: 1000px;
  margin: auto; }

.header {
  position: relative;
  width: 1000px;
  height: 125px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #d6d6d6; }
  .header__add-event {
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    background: #006fca;
    border: 1px solid #CECECE;
    cursor: pointer;
    text-align: center;
    width: auto;
    position: absolute;
    top: 80px;
    left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    .header__add-event:active {
      border: none; }

.month {
  width: 933px;
  height: 50px;
  margin-bottom: 20px;
  margin: auto; }
  .month__button {
    color: #454544;
    height: 30px;
    line-height: 30px;
    background: 0 0;
    border: 1px solid #CECECE;
    cursor: pointer;
    text-align: center;
    float: left;
    width: 46px; }
    .month__button:active {
      border: none; }
    .month__button_prev {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
      .month__button_prev::after {
        content: "\25C0";
        font-size: 30px; }
    .month__button_next {
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      .month__button_next::after {
        content: "\25B6";
        font-size: 30px; }
  .month__now {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: auto 20px;
    font-size: 25px; }

.calendar {
  width: 933px;
  margin: auto; }
  .calendar__day, .calendar__day-prev, .calendar__day-next {
    height: 21px;
    width: 125px;
    font: 12px/21px Arial;
    color: #362d26;
    text-align: left; }
    .calendar__day_grey, .calendar__day-prev_grey, .calendar__day-next_grey {
      color: #8c8c8c; }
  .calendar__todo-list {
    height: 104px; }
  .calendar_strong {
    background-color: #f4f4f4; }
  .calendar_marked {
    background-color: #ddf0ff; }

table {
  border-collapse: collapse; }

td {
  border: 2px solid #f4f4f4;
  padding: 3px; }

td:hover {
  background: #ddf0ff;
  border: 2px solid #83c6fb; }

.cover-div {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3; }

.add-event-form, .created-event-form {
  z-index: 9999;
  display: none;
  padding: 25px;
  width: 300px;
  border: 1px solid #d6d6d6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  background: #ffffff;
  top: 250px;
  left: 500px; }
  .add-event-form__event-name, .created-event-form__event-name {
    width: 290px;
    margin-bottom: 5px;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5); }
  .add-event-form__close, .created-event-form__close {
    position: absolute;
    font-size: 100%;
    top: 0;
    color: #454544;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
